<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <style>
        h1 {
            color: #8e5922;
            font-family: Arial, sans-serif;
        }

        h2 {
            color: #802600;
            font-family: Verdana, sans-serif;
            font-size: 16px;
        }

        h3 {
            color: #a67c4c;
            font-family: Times New Roman, serif;
        }
    </style>
</head>
<h1>
    Выберите сайт из списка, который нужно отпарсить
</h1>
<h2>
    Реми: https://remi.ru/news/ <td><button type="button" onclick="window.location.href=''"
    >Отпарсить</button> </td>
</h2>
<h2>
    Пятёрочка: https://5ka.ru/special_offers <td><button type="button" onclick="window.location.href=''"
    >Отпарсить</button> </td>
</h2>
<h2>
    Самбери: https://www.samberi.com/actions/ <td><button type="button" onclick="window.location.href=''"
    >Отпарсить</button> </td>
</h2>
<td>
<td>
    <button type="button" onclick="window.location.href='/main'"
    >Назад</button>
</td>
<body>

</body>
</html>